external.KafkaServer{
    org.apache.kafka.common.security.plain.PlainLoginModule required
    user_test1="password1"
    user_test2="password2";
};

internal.KafkaServer{
    org.apache.kafka.common.security.plain.PlainLoginModule required
    user_test1="password1"
    user_test2="password2";
};

replication.KafkaServer{
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="test1"
    password="password1"
    user_test1="password1"
    user_test2="password2";
};

KafkaClient {
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="test1"
    password="password1";
};
